<table class="table" ng-if="items.length">
  <tr style="font-weight:bold;">
    <td style="width:100px;">Item Name</td>
    <td>Name</td>
    <td>Description</td>
    <td></td>
  </tr>
  <tr ng-repeat="item in items">
    <td>{{item.short_name}}</td>
    <td>{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>
      <button class="btn btn-danger" ng-click="onRemove({index: $index})">
          Don't want this one!
      </button>
    </td>
  </tr>
</table>
<div class="alert alert-danger" ng-if="error">
  No Results Found
</div>